body
{
    background-color: #d8e3e7;
}

hr
{
    border-style:solid;
    border-width: 3px; 
    border-radius: 25px;
    width: 50%;

    color: #51c4d3;
}

img
{
    border-style:none;
    border-radius: 25px;
}
h1
{
    color: #126e82;
}

h2
{
    color: #126e82;
}

p
{
    border-style:none none none solid;
    padding-left: 20px;
    border-width: 10px; 
    border-radius: 15px;
    width: 50%;

    border-color: #51c4d3;
}

.Text1
{
    background-color: #b9dce9;
}

.Text2
{
    background-color: #97d4eb;
}